<table class="table">
  <thead>
    <tr>
      <th scope="col">ma sach</th>
      <th scope="col">ten sach</th>
      <th scope="col">ma tac gia</th>
      <th scope="col">ma the loai</th>
      <th scope="col">maNXB</th>
      <th scope="col">namXB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">01</th>
      <td>hatgiongtamhon</td>
      <td>nvb1</td>
      <td>tl01</td>
      <td>dn</td>
      <td>2010</td>
    </tr>
    
  </tbody>
</table>